@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Neuton:wght@300&family=PT+Sans&family=Poltawski+Nowy&family=Roboto+Slab:wght@300;400&family=Rubik:wght@300;400;500;600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Ubuntu&display=swap');

*{margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Poltawski Nowy', serif;
    box-sizing: border-box;
}
body{
    background: black;
}
.home{
    background: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 800px;
}

.left{
    width: 100%;
    padding: 15% 20%;
}
.left img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.right{
    width: 100%;
    padding: 20% 0px;
}
.right h1{
    color: #fff;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.right h1 span{
    font-size: 60px;
    display: flex;
    font-weight: 800;
    flex-direction: column;
    line-height: 25px;
}
.p{
    margin-top: 24px;
    font-size: 18px;
    color: #b2bec3;
}
.social{
    margin-top: 20px;
}
.social .bx{
    margin-right: 15px;
    font-size: 27px;
    font-weight: normal;
    color: #fff;
}
.btn{
    margin-top: 22px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #ff7f50;
    color: #fff;
    font-weight: 500;
}
.tech{
    margin-top: 35px;
    font-size: 35px;
}
.tech .bx{
    background: #ff7f50;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}
.about{
    margin-top: 40px;
    background: #1a1a1a ;
}
.h2{
    color: #fff;
}
.about{
    padding: 25px 10%;
}
.project-link .bx{
    font-size: 22px;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.h2{
    font-size: 30px;
}
.about-p{
    margin-top: 10px;
    color: #fff;
    line-height: 32px;
}
.link{
    margin-top: 20px;
}
.project{
    margin-top: 20px;
}
.project-link{
    padding: 5px 15px;
    background: #ff7f50;
    color: #fff;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.project-link:hover{
    background: #fff;
    color: #1a1a1a;
    transition: 1s;
}
.link-p{
    color: #ff7f50;
    text-transform: capitalize;
    font-size: 22px;
    margin-top: 22px;
    font-weight: 500;
}
.right-content{
    padding-left: 20px;
}
.h2-right{
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}
.mail{
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
}
.mail .bx{
    color: #fff;
}
.about-btn{
    margin-top: 14px;
    padding: 10px 20px;
    background: #ff7f50;
    color: #fff;
    font-size: 20px;
    border: none;
    font-weight: 600;
    border-radius: 10px;
}

.exp{
    width: 100%;
    min-height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    padding: 35px 10%;
}
.container{
    padding-right: calc(10% - 30px);
}
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col header.title{
    font-family: Arial, Helvetica, sans-serif;
    color: #ff7f50;
    padding: 0px 0px 20px 30px;
}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    cursor: pointer;
    transition: all .4s;
    margin-bottom: 20px;
}
.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.col .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    border: 2px solid white;
    background-color: #ff7f50;
}
.box h4{
    position: relative;
    color: #ff7f50;
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 400px;
    padding: 25px 10%;
}
.left-footer{
    border: 1px solid grey;
    padding-left: 25px;
}

.left-footer .h4{
    color: #ff7f50;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 20%;
}
.left-footer .h3{
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}
.right-footer{
    border: 1px solid grey;
    padding-left: 25px;
}
.box{
    margin-top: 40px;
}
.text{
    display: flex;
    flex-direction: column;
}
input{
    width: 90%;
    text-transform: uppercase;
    height: 50px;
    border-top: none;
    border-left: none;
    background: black;
    color: #fff;
    border-right: none;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.btn-footer{
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 20px;
    background: #ff7f50;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

@media (max-width : 1320px){
    .project{
        display: flex;
        flex-direction: column;
    }
    .project-link{
        width: 250px;
        margin: 10px 0px;
    }
}
@media (max-width : 1030px){
    .left{
        width: 100%;
        padding: 15% 10%;
    }
}


@media (max-width : 768px){
    main.row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
    .left{
        width: 100%;
        padding: 5% 20%;
    }
    .home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .right{
        padding: 5% 20%;
        text-align: center;
    }
    .right h1{
        color: #fff;
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 1.5px;
    }
    .right h1 span{
        font-size: 35px;
    }
    .content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .right-content{
        padding-left: 0px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 10%;
    }
    .btn-footer{
        margin-bottom: 10px;
    }
}
@media (max-width : 550px){
    .left{
        width: 100%;
        padding: 5% 20%;
    }
    .left img{
        height: 350px;
        width: 100%;
        border-radius: 15%;
    }
    .home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 430px;
    }
}
@media (max-width : 400px){
    .right h1{
        color: #fff;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 1.5px;
    }
    .right h1 span{
        font-size: 25px;
    }
    .tech .bx{
        padding: 5px 10px;
        font-size: 22px;
    }
}